*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/*header navigation*/

.top_background {
    background-color: #222222;
}

.header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.left_side {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: start;


}

.left_inner {
    padding-right: 30px;
}

.right_side {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.right_inner {
    padding-left: 30px;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.open_menu {
    position: relative;
}

.menu {
    list-style-type: none;
    position: absolute;
    width: 232px;
    height: 764px;
    left: -45px;
    top: 55px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.menu_header {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    padding-top: 24px;
    padding-left: 33px;
}

.menu_head {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 37px;
    margin-left: 34px;

}

a {
    text-decoration: none;
    color: #222;
}

.link_menu {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.list {
    padding-top: 12px;
    padding-left: 54px;
}


/*banner*/
.banner {
    height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.man {
    margin-left: -220px;
}

.banner_text {
    margin-top: 290px;
    margin-right: 40px;
    border-left: 12px solid #F16D7F;
    float: right;
    padding-left: 15px;

}

.first_text {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 57.6px;
    text-transform: uppercase;
    color: #222222;
}

.second_text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    text-transform: uppercase;
    color: #222222;
    display: inline-block;

}

.third_text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 44.4px;
    text-transform: uppercase;
    color: #F16D7F;
}

/*mid navigation*/
.mid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mini_card {
    display: flex;
    width: 360px;
    height: 260px;
    position: relative;

}

a {
    text-decoration: none;
}

.img {
    display: flex;
    position: absolute;
}

.text_block {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.article {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #fff;
    text-transform: uppercase;
}

.text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: #F16D7F;
    text-transform: uppercase;
}

.card {
    width: 1140px;
    height: 180px;
    position: relative;
    top: 30px;
}

/*SECTION*/
.section_text {
    text-align: center;
    margin-top: 96px;

}

.h_section {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
}

.p_section {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.shop_card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop_card_1 {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.shop_card_article {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 10px;
    padding-top: 25px;
}

.shop_card_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 10px;
    padding-top: 12px;
}

.cost {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 10px;
    padding-top: 18px;
    margin-bottom: 50px;
}

.buttom_container {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 95.5px;
}

.buttom_all_products {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    left: 43.47%;
    right: 43.34%;
    top: 73.6%;
    bottom: 25.17%;
    border: 1px solid #FF6A6A;
    padding: 14.5px 38.5px;
}

/*FOOTER*/
/*top footer*/
.top_footer {
    background-color: #222224;
    height: 341px;
}

.benefits {
    display: flex;
    justify-content: space-between;
}

.in_benefits {
    max-width: 360px;
    display: flex;
    flex-direction: column;

}

.icon {
    margin-top: 103px;
    width: 40px;
    height: 40px;
    align-self: center;
}

.article_top_footer {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 28px;
    text-align: center;
}

.text_top_footer {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    padding-top: 16px;
}

/*mid footer*/
.mid_footer {
    background-color: rgba(244, 244, 244, 0.7);
    background-image: url(img/footer_banner.jpg);
    background-size: 100% 100%;
    height: 448px;
    background-repeat: no-repeat;
}

.mid_footer_block {
    display: flex;
    justify-content: space-between;
}

.portret {
    padding-top: 97px;
    padding-left: 120px;

}

.left_text_footer {
    max-width: 360px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.right_mid_footer {
    margin-top: 150px;
}

.right_footer_article {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.right_footer_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30.1px;
    text-align: center;
    color: #222224;
}

.input_email {
    background-color: #E1E1E1;
    width: 256px;
    height: 49px;
    margin-top: 32px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 22px;
    border: none;
}

.form {
    display: flex;
}

.link_subscribe {
    background-color: #F16D7F;
    width: 100px;
    height: 49px;
    padding: 15px 15px 15px 20px;
    text-align: center;
    border-radius: 0px 20px 20px 0px;
    margin-top: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}

/*bottom footer*/
.last {
    background-color: #222224;
    height: 79px;
}

.last_footer {
    display: flex;
    justify-content: space-between;
}

.social_icon {
    display: flex;
    list-style: none;
    padding-top: 24px;
}

.li_icon {
    padding-left: 8px;
}

.li_icon:hover {
    color: #F16D7F;
}

.reserved {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 30px;
}

/*прижатие к низу*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

section {
    flex-grow: 1;
}

footer {
    height: 868px;
}

/*catalogue header*/
.catalogue_header_background {
    background-color: #F8F3F4;
    height: 148px;
}

.catalogue_header {
    display: flex;
    justify-content: space-between;
    height: 148px;
    align-items: center;
}

.page_name {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.step_link {
    list-style-type: none;
    display: flex;
}

.step_before_link {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.last_step_link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

/*FILTERS*/
.filters {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 65px;
}

.filter {
    position: relative;

}

.filter_font {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
}

.fa-solid {
    padding-left: 11px;
}

.center_filter {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.filter_checkbox {
    min-width: 105px;
    min-height: 135px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-left: 30px;
}

.filter_checkbox_second {
    min-width: 79px;
    min-height: 103px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #FFFFFF;
    padding-left: 10px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter_checkbox_third {
    min-width: 79px;
    min-height: 103px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.center_filter_text {
    padding-right: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
}

.checkbox_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    text-transform: uppercase;
    padding-top: 7px;
    padding-left: 9.5px;
}

.filter_details {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 360px;
    height: 531px;
    top: 18px;
    list-style-type: none;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding-top: 16px;
    padding-left: 17px;
}

.left_block {
    border-left: 5px solid #F16D7F;
    border-bottom: 1px solid #EBEBEB;
    float: right;
    padding-left: 11px;
    height: 37px;
    width: 372px;
    margin-top: 11px;
}

.text_left_block {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
    padding-top: 8px;
}

.text_bottom_block {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-left: 17px;
}

.li_bottom_block {
    padding-top: 11px;
}

.filter_font:hover {
    color: #EF5B70;
}

.page_number {
    width: 284px;
    height: 44px;
    border: 1px solid #EBEBEB;
    margin-bottom: 96px;
}

.list_page_number {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 11px;
}

.list_color_position {
    color: #EF5B70;
}

.list_color {
    color: #E9E9E9;
}