*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/*header navigation*/

.top_background {
    background-color: #222222;
}

.header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.left_side {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: start;


}

.left_inner {
    padding-right: 30px;
}

.right_side {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.right_inner {
    padding-left: 30px;
}

.menu {
    list-style-type: none;
    min-width: 150px;
    position: absolute;
    margin-left: -110px;
    width: 232px;
    height: 764px;
    left: 1368px;
    top: 75px;
    background: #FFFFFF;
    display: none;
}

a {
    text-decoration: none;
    color: #222;
}

.list {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #222;
    text-transform: uppercase;
    padding: 5px;
}

.open_menu:hover .menu {
    display: block;
}

/*banner*/
.banner {
    height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.man {
    margin-left: -220px;
}

.banner_text {
    margin-top: 290px;
    margin-right: 40px;
    border-left: 12px solid #F16D7F;
    float: right;
    padding-left: 15px;

}

.first_text {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 57.6px;
    text-transform: uppercase;
    color: #222222;
}

.second_text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    text-transform: uppercase;
    color: #222222;
    display: inline-block;

}

.third_text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 44.4px;
    text-transform: uppercase;
    color: #F16D7F;
}

/*mid navigation*/
.mid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mini_card {
    display: flex;
    width: 360px;
    height: 260px;
    position: relative;

}

a {
    text-decoration: none;
}

.img {
    display: flex;
    position: absolute;
}

.text_block {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.article {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #fff;
    text-transform: uppercase;
}

.text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: #F16D7F;
    text-transform: uppercase;
}

.card {
    width: 1140px;
    height: 180px;
    position: relative;
    top: 30px;
}

/*SECTION*/
.section_text {
    text-align: center;
    margin-top: 96px;

}

.h_section {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
}

.p_section {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.shop_card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop_card_1 {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.shop_card_article {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 10px;
    padding-top: 25px;
}

.shop_card_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 10px;
    padding-top: 12px;
}

.cost {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 10px;
    padding-top: 18px;
    margin-bottom: 50px;
}

.buttom_container {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 95.5px;
}

.buttom_all_products {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    left: 43.47%;
    right: 43.34%;
    top: 73.6%;
    bottom: 25.17%;
    border: 1px solid #FF6A6A;
    padding: 14.5px 38.5px;
}

/*FOOTER*/
/*top footer*/
.top_footer {
    background-color: #222224;
    height: 341px;
}

.benefits {
    display: flex;
    justify-content: space-between;
}

.in_benefits {
    max-width: 360px;
    display: flex;
    flex-direction: column;

}

.icon {
    margin-top: 103px;
    width: 40px;
    height: 40px;
    align-self: center;
}

.article_top_footer {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 28px;
    text-align: center;
}

.text_top_footer {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    padding-top: 16px;
}

/*mid footer*/
.mid_footer {
    background-color: rgba(244, 244, 244, 0.7);
    background-image: url(img/footer_banner.jpg);
    background-size: 100% 100%;
    height: 448px;
    background-repeat: no-repeat;
}

.mid_footer_block {
    display: flex;
    justify-content: space-between;
}

.portret {
    padding-top: 97px;
    padding-left: 120px;

}

.left_text_footer {
    max-width: 360px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.right_mid_footer {
    margin-top: 150px;
}

.right_footer_article {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.right_footer_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30.1px;
    text-align: center;
    color: #222224;
}

.input_email {
    background-color: #E1E1E1;
    width: 256px;
    height: 49px;
    margin-top: 32px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 22px;
    border: none;
}

.form {
    display: flex;
}

.link_subscribe {
    background-color: #F16D7F;
    width: 100px;
    height: 49px;
    padding: 15px 15px 15px 20px;
    text-align: center;
    border-radius: 0px 20px 20px 0px;
    margin-top: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}

/*bottom footer*/
.last {
    background-color: #222224;
    height: 79px;
}

.last_footer {
    display: flex;
    justify-content: space-between;
}

.social_icon {
    display: flex;
    list-style: none;
    padding-top: 24px;
}

.li_icon {
    padding-left: 8px;
}

.reserved {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 30px;
}